//**************** Begin Text variables **********************
$font-name: 'Kumbh Sans';
$highlight-color: hsl(238, 29%, 16%);
$hover-color: hsl(14, 88%, 65%);
$default-color: hsl(237, 12%, 33%);
$secondary-color: hsl(240, 6%, 50%);
$dividers-color: hsl(240, 5%, 91%);
//**************** END Text variables **********************

//**************** Begin Background variables **********************
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
//**************** End Background variables **********************

@mixin flexContent {
    display: flex;
    align-items: center;
    justify-content: center;
}