@import '../assets/css/utils.scss';

.faq-wrapper{
    height: 600px;
    width: 900px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid $soft-violet;
}
.faq-list{
    @include flexContent(center, center, row);
    flex-wrap: wrap;
}